.central {text-align: center;}
h1.supertitulo {color: violet; font-family: 'Courier New', Courier, monospace; background-color: rgba(134, 238, 130, 0.63);}

.supertitulo {font: size 50px;}

#tituloprincipal{font: size 90px; color: rgba(218, 71, 255, 0.74);}
p{
    background-color: thistle;
    text-align: justify;
}

.list li{
    color: rgb(226, 156, 226);
}

body{
background-color: rgb(184, 171, 214);
background-attachment: fixed;
background-repeat: no-repeat;
}

.caixa {
    margin: 10px;
    padding: 20px;
    border: 4px solid mediumseagreen;
    width: fit-content;
    background-color: rgba(104, 238, 198, 0.274);
    align-self: stretch;

}